<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <header>
        <a href="#"><img src="../assets/images/About/Logos/Logo3d.png" alt="Logo3D" class="logo-3d"></a>
        <div class="menu">
            <button class="menu-button menu-button-1">
                <a href="./about.component.html"><p>Про компанію</p></a>
            </button>
            <button class="menu-button menu-button-2">
                <a href="#"><p>Цивільні Автомобілі</p></a>
            </button>
            <button class="menu-button menu-button-3">
                <a href="#"><p>Військові Автомобілі</p></a>
            </button>
            <button class="menu-button menu-button-4">
                <a href="#"><p>Новини</p></a>
            </button>
        </div>
    </header>
    <section class="buttons">
        <button onclick="button_about()" class="btn btn1">
            <p>АвтоКрАЗ</p>
        </button>
        <button onclick="button_history()" class="btn btn2">
            <p>Історія</p>
        </button>
        <button onclick="button_sumvol()" class="btn btn3">
            <p class="btn3p">Корпоративна<BR>
                символіка</p>
        </button>
    </section>
    <section class="about active" id="about">
        <p class="h1">Про компанію</p>
        <p class="p p1">Довгий та важкий шлях до автозаводу світового рівня підприємство «КрАЗу» розпочало 1945 року, не зважаючи на часту реорганізацію<BR>
            та неодноразову зміну характеру виробництва, «КрАЗ» — одне з небагатьох підприємств у країні, якому вдалося увійти до десятки<BR>
            лідерів автомобілебудування.</p>
        <img src="../assets/images/About/About/AboutBird.jpg" alt="" class="img1">
        <p class="p p2">Сьогодні Приватне акціонерне товариство «АвтоКрАЗ»:<BR><BR>
            — гранд автомобільної промисловості України, що входить до десятки провідних світових лідерів з
            виробництва великовантажних автомобілів;<BR>
            — єдиний виробник в Україні вантажівок, що має замкнутий технологічний цикл виробництва;<BR>
            — головне підприємство групи «КрАЗ».</p>
        <p class="p p3">«АвтоКрАЗ» виробляє широку гаму вантажних автомобілів і запасних частин до них, а також причепи та напівпричепи. Крім цього,<BR>
            автозавод виготовляє молольні кулі для гірничорудних підприємств, дрібне вагонне литво, різний інструмент.</p>
        <img src="../assets/images/About/About/AboutLitye.jpg" alt="" class="img2">
        <p class="p p4">Модельний ряд бренду «КрАЗ» налічує 33 базові моделі, майже 350 модифікацій і понад 1500<BR>
            комплектацій дво- , три- і чотиривісних вантажівок з різними компонувальними рішеннями. Це<BR>
            — автомобілі-самоскиди, сідельні тягачі, бортові автомобілі, лісовози і сортиментовози,<BR>
            автомобільні шасі під монтаж різного спецобладнання, причепи і напівпричепи.</p>
        <p class="p p5">Починаючи з 1959 року, з конвеєра автозаводу зійшло понад 820 000 одиниць вантажних автомобілів. За останні роки<BR>
            гамма продукції, яку випускає Кременчуцький автозавод, значно розширилася, насамперед, за рахунок нових моделей<BR>
            спецтехніки та автомобілів перспективного покоління з компонуванням «кабіна над двигуном». Це комунальна техніка,<BR>
            автопоїзди-ваговози вантажопідйомністю до 75 тонн, броньована техніка тощо.</p>
        <p class="p p6">Виробництво автомобілів КрАЗ націлене на основні сегменти ринку: будівництво, дорожнє і комунальне господарства,<BR>
            гірничодобувну і лісозаготівельну промисловість, нафтогазовий комплекс, збройні сили і підрозділи з ліквідації надзвичайних<BR>
            ситуацій.</p>
        <img src="../assets/images/About/About/About65032.jpg" alt="" class="img3">
        <p class="p p7">Вантажівки КрАЗ відповідають сучасним вимогам міжнародних стандартів з екологічної та<BR>
            дорожньої безпеки. Система менеджменту якістю «АвтоКрАЗ» сертифікована на відповідність<BR>
            вимогам міжнародного стандарту IATF 16949:2016 «Фундаментальні вимоги до системи<BR>
            менеджменту якості для виробництва автомобільної промисловості та організацій, які<BR>
            виготовляють відповідні сервісні частини».</p>
        <p class="p p8">Персонал підприємства налічує понад 300 видів професій. Загальна чисельність працівників Кременчуцького автомобільного заводу<BR>
            становить близько 4 500 осіб.</p>
        <p class="p p9">Вантажівки КрАЗ відомі своїми міццю, надійністю і простотою більш ніж в 70 країнах світу, перевірені часом і мільйонами<BR>
            кілометрів доріг та бездоріжжя, суворим кліматом усіх континентів. Географія продажів автомобілів поступово розширюється<BR>
            за рахунок освоєння нових ринків збуту.</p>
        <img src="../assets/images/About/About/AboutTrucks.jpg" alt="" class="img4">
    </section>
    <section class="history hidden" id="history"> 
        <p class="h1">Наша історія</p>
        <div class="hist-1" id="hist-1">
        </div>
        <div class="hist-2" id="hist-2">
        </div>
        <div class="hist-3" id="hist-3">
        </div>
        <div class="hist-4" id="hist-4">
        </div>
    </section>
    <section class="sumvol hidden" id="sumvol">
        <p class="h1">Корпоративна символіка</p>
        <div class="logos1">
            <div class="mark">
                <img src="../assets/images/About/Logos/Mark.png" alt="" class="img">
                <p class="p1">Товарний знак КрАЗ</p>
                <p class="p2">Товарний знак КрАЗ є одним з основних елементів корпоративної ідентифікації<BR>
                    відповідно до стандартів сучасного дизайну. Зміна форми товарного знаку або<BR>
                    будь-яких його елементів з додавання будь-якого іншого кольору до фірмової<BR>
                    колірної гами «АвтоКрАЗ» неприпустимо.</p>
                <p class="p3">Товарний знак використовується разом з логотипом.</p>
            </div>
            <div class="logo">
                <img src="../assets/images/About/Logos/Logo.png" alt="" class="img">
                <p class="p1">Логотип</p>
                <p class="p2">Логотип — це оригінальне оформлення найменування нашого підприємства,<BR>
                    яке є одним з основних компонентів його упізнаваності.</p>
                <p class="p3">Логотип КрАЗ є одним основних елементів корпоративної ідентифікації<BR>
                    «АвтоКрАЗ», який відповідає стандартам сучасного дизайну.</p>
            </div>
            <div class="logog">
                <img src="../assets/images/About/Logos/LogoG.png" alt="" class="img">
                <p class="p1">Горизонтальне спільне застосування товарних знаків і<BR>
                    логотипа</p>
                <p class="p2">Логотип і товарний знак використовуються як самостійно, так і разом.</p>
            </div>
            <div class="logov">
                <img src="../assets/images/About/Logos/LogoV.png" alt="" class="img">
                <p class="p1">Вертикальне спільне застосування товарних знаків і<BR>
                    логотипа</p>
                <p class="p2">Логотип і товарний знак використовуються як самостійно, так і разом.</p>
            </div>
        </div>
        <div class="logos2">
            <p class="p1">Логотип і товарний знак розміщують тільки на заздалегідь визначеному місці, вільних від інших<BR>
                знаків. Неприпустимо їх розміщення в тексті.</p>
            <p class="p2">Не можуть бути використані у поєднанні з ними різного роду графічні елементи такі як прямокутник, коло тощо.</p>
            <p class="p3">Зміна форми, будь-яких елементів, відображених в описі, а також додавання будь-якого<BR>
                іншого кольору до фірмової колірної гами «АвтоКрАЗ» є неприпустимими.</p>
        </div>
        <div class="logos3">
            <p class="p1">Гама кольорів</p>
            <p class="p2">Товарний знак і логотип відтворюються в синьо-зеленому кольору (Pantonе № 3282 CV) у<BR>
                випадку коли фон білий. можливо відтворення емблеми логотипа на синьо-зеленому тлі<BR>
                (Pantonе № 3282 CV) з використанням інверсії кольорів.</p>
            <p class="p3">При чорно-білому друку логотип відтворюється в чорно-білому кольорі на білому тлі, відповідно<BR>
                — навпаки. Для створення особливих ефектів допускається використання золота, срібла і тиснення.</p>
        </div>
    </section>
    <footer>
        <a href="http://www.autokraz.com.ua/index.php/uk/"><img src="../assets/images/About/Logos/Logo3d.png" alt="Logo3D" class="imgfooter"></a>
        <p class="pfooter">&copy; 2023</p>
    </footer>
</body>
</html>