<header>
  <BR>
  <BR>
  <BR>
  <BR>
  <p class="title" align="center"><B>Гелікоптери Збройних Сил України</B></p>
</header>

<div class="home">
  <div id="vstup"></div>
  <div id="helicopt"></div>
  <div id="zavd"></div>
</div>

<div class="inf-section">
  <div class="buttons">
      <button onclick="button_mi2()" class="button button_1">
          <p class="button_1-p">Мі-2МСБ</p>
      </button>
      <button onclick="button_mi8()" class="button button_2">
          <p class="button_2-p">Мі-8(МТ)</p>
      </button>
      <button onclick="button_mi8msb()" class="button button_3">
          <p class="button_3-p">Мі-8МСБ</p>
      </button>
      <button onclick="button_mi14()" class="button button_4">
          <p class="button_4-p">Мі-14</p>
      </button>
      <button onclick="button_mi24()" class="button button_5">
          <p class="button_5-p">Мі-24П</p>
      </button>
      <button onclick="button_ka27()" class="button button_6">
          <p class="button_6-p">Ка-27</p>
      </button>
      <button onclick="button_ka29()" class="button button_7">
          <p class="button_7-p">Ка-29</p>
      </button>
      <button onclick="button_ka226()" class="button button_8">
          <p class="button_8-p">Ка-226</p>
      </button>
  </div>
  <div class="fon"></div>
  <div class="fon-1 hidden" id="mi-24-main"></div>
  <div class="fon-1 hidden" id="mi-24-lth"></div>
  <div class="fon-1 hidden" id="mi-24-ozbr"></div>
  <div class="fon-1 hidden" id="mi-24-kursove"></div>
  <div class="fon-1 hidden" id="mi-24-pidvisne"></div>
  <div class="fon-1 hidden" id="mi-24-history"></div>
  <div class="fon-1 hidden" id="mi-24-mi24a"></div>
  <div class="fon-1 hidden" id="mi-24-mi24py1"></div>
  <div class="fon-1 hidden" id="mi-24-mi24py1-history"></div>
  <div class="fon-1 hidden" id="mi-24-mi24py1-modern"></div>
  <div class="fon-1 hidden mi-2-main" id="mi-2-main"></div>
  <div class="fon-1 hidden mi-8-main" id="mi-8-main"></div>
  <div class="fon-1 hidden mi-8msb-main" id="mi-8msb-main"></div>
  <div class="fon-1 hidden mi-14-main" id="mi-14-main"></div>
  <div class="fon-1 hidden ka-27-main" id="ka-27-main"></div>
  <div class="fon-1 hidden ka-29-main" id="ka-29-main"></div>
  <div class="fon-1 hidden ka-226-main" id="ka-226-main"></div>
</div>

<footer>
  <p class="p">&copy; 2023</p>
</footer>